<div class="container top-bar home-border">
   <div class="attached">
      <img src="assets/logo.png" class="logo" alt="" />
   </div>
</div>


<div class="container">
   <div class="app-pov">
      <div class="row">
         <div class="five columns">
            <ul>
               <li>Extensive Oakland Raiders News</li>
               <li>One stop source for Raider Fans</li>
               <li>Universal iPhone & iPad App</li>
            </ul>
            <a href="http://itunes.apple.com/us/app/club-raider-nation/id558303557?ls=1&mt=8" class="secondary button">Get App Now</a>
         </div>
         <div class="seven columns">
            <img src="assets/palmer.png" class="palmer hide-for-small" alt="" />
         </div>
      </div>
   </div>
</div>

<div class="container interior-content">
   <div class="container-overlap">
      <div class="page-padding">
         <div class="row initial-content">
            <div class="twelve columns">
               <div class="feature-pop">
                  <div class="row app-features" style="margin-bottom: -18px">
                        <ul id="raider-features">
                           <li class="feature-item white four columns" style="padding:0px;">
                              <div class="raider-features-copy">
                                 <h5>RAIDER NEWS</h5>
                                 <p>Club Raider Nation brings you the best Oakland Raider news sources and blogs into one place.</p>
                              <img src="assets/news-icon.png" class="raider-news-icon" alt="Oakland Raider News">
                              </div>
                           </li>

                           <li class="feature-item lightgray four columns" style="padding:0px;">
                              <div class="raider-features-copy">
                                 <h5>DEPTH CHART</h5>
                                 <p>View an in-depth interactive display of for every player on the Oakland Raiders team.</p>
                              
                              <img src="assets/depthchart-icon.png" class="raider-news-icon" alt="Oakland Raider News">
                              </div>
                           </li>

                           <li class="feature-item darkgray four columns" style="padding:0px;">
                              <div class="raider-features-copy">
                                 <h5>RAIDER SCHEDULE</h5>
                                 <p>Club Raider Nation puts the team’s game schedules, previews and reviews right in the palm of your hand.</p>
                              
                              <img src="assets/scoreboard-icon.png" class="raider-news-icon" alt="Oakland Raider News">
                              </div>
                           </li>
                        </ul>
                     </div>
                  <div class="feature white">
                     <div class="row">
                        <div class="six columns">
                           <h2>Oakland Raiders News and Info from Anywhere.</h2>
                           <p>Club Raider Nation is available on the web, iPhone, iPad and iPod Touch. It curates content from over 10 of the best Oakland Raiders news sources and blogs, staying in sync via the cloud so you have access to it anywhere.</p>
                           <p>No other Oakland Raiders app makes this much high-quality content available to you in one place.</p>
                           <p>Club Raider Nation for iOS is available in the App Store and is a universal app. That means once you purchase it, you’ll have all the best Oakland Raiders news curated and available to you on all of your Apple devices.</p>
                        </div>
                        <div class="six columns">
                           <%= image_tag("feature-news.png", alt:"News") %>
                        </div>
                     </div>
                  </div>
                  <div class="feature gray">
                     <div class="row">
                        <div class="seven columns push-five">
                           <h2>Comprehensive Team Depth Chart</h2>
                           <p>View an in-depth interactive display of for every player on the entire Oakland Raiders team. This depth chart gives you the ability to quickly find out the depth of any position quickly by just tapping on the position.  Tap on any team position and view corresponding player’s images, current 2012 stats and biography – all updated on a weekly basis.  </p>
                           <p>All players data is updated everyday and at anytime you will have the most current roster and stats in your hands at all times.</p>
                        </div>
                        <div class="five columns pull-seven">
                           <%= image_tag("feature-depthchart.png", alt:"Depth Chart") %>
                        </div>
                        
                     </div>
                  </div>
                  <div class="feature white">
                     <div class="row">
                        <div class="six columns">
                           <h2>Game Schedules with Previews & Reviews</h2>
                           <p>Planning your home game parties? Need to RSVP to a weekend event but don’t know if it’s going to conflict with the Raiders game? Download Club Raider Nation and never miss another Oakland Raiders game again.</p>

                           <p>Club Raider Nation puts the team’s game schedules, previews and reviews right in the palm of your hand. Just open the app to find out instantly whether it’s a day game or night game — you’ll know right away by the in-app background lighting, which adjusts based on game time. </p>

                           <p>Stay on top of Oakland Raiders games with live in-season game updates, previews and game reviews.</p>
                        </div>
                        <div class="six columns">
                           <%= image_tag("feature-schedule.png", alt:"Schedule") %>
                        </div>
                     </div>
                  </div>
                  <div class="feature gray">
                     <div class="row">
                        <div class="seven columns push-five">
                           <h2>Standings & Rosters</h2>
                           <p>Injured quarterback? View the backup player, his standings and stats right from inside the app. It delivers correct player names, numbers, heights, weights and status at your fingertips and updates automatically. </p>

                           <p>Want to keep track of where the Oakland Raiders stand in conference and non-conference games? Club Raider Nation gives you weekly standings updates plus roster updates for every player.</p>

                           <p>Club Raider Nation is built to bring the team to you! This is your exclusive mobile source for coverage of every Oakland Raiders preseason, regular season and postseason game including breaking news, game highlights, headlines, Oakland Raiders blogs and more.</p>
                        </div>

                        <div class="five columns pull-seven">
                           <%= image_tag("feature-standings.png", alt:"Standings") %>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
            <footer><p>Copyright © 2012 ClubRaiderNation. All rights reserved</p></footer>
         </div>
      </div>
   </div>
</div>



